<h3>List of Items</h3>
<table>
  <thead>
    <tr>
      <th width="100">Product</th>
      <th width="100">Merchant</th>
      <th width="50">Quantity</th>
      <th width="100">Price</th>
      <th width="100">Subtotal</th>
      <th width="100">Shipping Status</th>
      <th width="100">Order Status</th>
    </tr>
  </thead>
  <tbody>
    <% table_order_items.each do |order_item| %>
    <tr>
      <td><%= link_to order_item.get_item_name, product_path(order_item.product_id) %></td>
      <td><%= link_to order_item.get_item_merchant, merchant_path(order_item.get_item_merchant_id)  %></td>
      <td><%= order_item.quantity %></td>
      <td><%= order_item.price %></td>
      <td> <%= order_item.get_item_subtotal %></td>
      <td>
        <% if order_item.shipping_status == "Ready to ship" %>
        <%= link_to('Mark Shipped', mark_item_shipped_path(order_item), method: :patch) %>
        <% else %>
        <%= order_item.shipping_status %>
        <% end %>
      </td>
      <td><%= order_item.get_order_status %></td>
    </tr>
    <% end %>
  </tbody>
</table>
