<section class="large-9 cell">
<h3>Order Summary<%= link_to "Edit Cart", view_cart_path(id: session[:cart_id]), class: "button in-line-button float-right" %></h3>
  <section class="grid-x">
    <section class="cell medium-auto">
      <% if @order.nil? || @order.order_items.empty? %>
        <h4>Cart is empty!</h4>
      <% else %>
        <section>

        </section>
        <section>
          <%= form_for @order, :url => checkout_order_path(@order.id) do |f| %>
            <h5>Customer:</h5>

            <%= f.label :customer_name %>
            <%= f.text_field :customer_name, placeholder:"Must be at least one character" %>
            <%= f.label :email_address %>
            <%= f.text_field :email_address, placeholder:"Must be at least one character and have an '@' sign" %>

            <h4>Shipping Address:</h4>
            <%= f.label :street %>
            <%= f.text_field :street, placeholder:"Must be at least one character" %>

            <%= f.label :city %>
            <%= f.text_field :city, placeholder:"Must be at least one character" %>

            <%= f.label :state %>
            <%= f.text_field :state %>

            <%= f.label :mailing_zip %>
            <%= f.text_field :mailing_zip, placeholder:"Must be 5 digits" %>

            <h5>Payment Method:</h5>
            <%= f.label :credit_card_holder_name %>
            <%= f.text_field :cc_name, placeholder:"Must be at least one character" %>

            <%= f.label :credit_card_number %>
            <%= f.text_field :cc_number, placeholder:"Must be 16 digits" %>

            <%= f.label :credit_card_cvv %>
            <%= f.text_field :cc_cvv, placeholder:"Must be 3 digits" %>

            <%= f.label :credit_card_zip_code %>
            <%= f.text_field :cc_zip, placeholder:"Must be 5 digits" %>

            <%= f.label :credit_card_experation_month %>
            <%= f.text_field :cc_exp_month %>

            <%= f.label :credit_card_experation_year %>
            <%= f.text_field :cc_exp_year %>

            <%= f.hidden_field :status, value: "paid" %>

            <%= f.submit "Place your order" %>

          <% end %>
        </section>
        <section>
          <% if @order.status == "pending" %>
          <%= link_to('Cancel Order', mark_order_cancelled_path(@order), method: :patch, class: "button") %>
          <%= link_to('Checkout', checkout_order_path(@order), method: :patch, class: "button") %>
          <% end %>
        </section>
      <% end %>
    </section>
  </section>
</section>

<!-- <section class="cart-area">
  <% @order.order_items.each do |item| %>
  <section class="row grid-x grid-padding-x grid-padding-y align-middle cart-sections">
    <section class="large-3 large-2 cell"><%= image_tag(item.product.photo, :alt => "product image", class:"order-item-cart-pic") %></section>

    <section class="large-3 large-4 cell item-name-in-cart"><%= item.product.name %>
    </section>

    <section class="small-2 small-2 cell"><%= link_to "remove", order_item_path(item.id), method: :delete, class: "button tiny", data: {confirm: 'Are you sure?' } %></section>

    <section class="small-1 small-1 cell"><%= form_for item do |f| %>
      <%= f.label :quantity %>
      <%= f.select :quantity, options_for_select(1..item.product.stock, item.quantity ), {}, {value: item.quantity, class: 'form-control', onchange: 'this.form.submit();'} %>
      <% end %></section>

      <section class="small-1 small-1 cell"><%= item.get_subtotal.cents_to_dollars %></section>
    </section>
    <% end %>
  </section>
  <section class="subtotal-summary">
    <% if @order.total_quantity == 1 %>
    <h3>subtotal (1 item): <%= @order.get_total_revenue.cents_to_dollars%></h3>
    <% else %>
    <h3>subtotal(<%= @order.total_quantity%> items): <%= @order.get_total_revenue.cents_to_dollars%></h3>
    <%end%>
  </section>
</section>

<section>
  <%= link_to "Checkout", edit_order_path(@order.id), class: "button" %>
</section>



<% if @order.status == "pending" %>
 <h4>Order Summary</h4>
  <section class="cart-area">
    <% @order.order_items.each do |item| %>
      <section class="row grid-x grid-padding-x grid-padding-y align-middle cart-sections">
      <section class="large-3 large-2 cell"><%= image_tag(item.product.photo, :alt => "product image", class:"order-item-cart-pic") %></section>
      <section class="large-3 large-4 cell item-name-in-cart"><%= item.product.name %>
      </section>

      <section class="small-1 small-1 cell">
        QTY: <%= item.quantity %>
      </section>

      <section class="small-1 small-1 cell"><%= item.get_subtotal.cents_to_dollars %></section>
    </section>
    <% end %>
  </section>

<section>
  <% if @order.total_quantity == 1 %>
  <h6>Total (1 item): <%= @order.get_total_revenue.cents_to_dollars%></h6>
  <% else %>
  <h6>Total(<%= @order.total_quantity%> items): <%= @order.get_total_revenue.cents_to_dollars%></h6>
  <%end%>
</section>
<%end%>
</section> -->
