<h3>Cart - pending items</h3>
<table>
  <thead>
    <tr>
      <th width="100">Product</th>
      <th width="100">Merchant</th>
      <th width="50">Quantity</th>
      <th width="50"></th>
      <th width="100">Price</th>
      <th width="100">Subtotal</th>
      <th width="100"></th>

    </tr>
  </thead>
  <tbody>
    <% @order_items.each do |order_item| %>
    <% if order_item.get_order_status == "pending"%>
    <tr>
      <td><%= link_to order_item.get_item_name, product_path(order_item.product_id) %></td>
      <td><%= link_to order_item.get_item_merchant, merchant_path(order_item.get_item_merchant_id) %></td>

      <td>
        <%= form_for order_item do |f| %>
        <%= f.text_field :quantity , "size" => 4%>
      </td>
      <td> <%= f.submit "Update Quantity"%> </td>
      <% end %>
      <td><%= order_item.price %></td>
      <td> <%= order_item.get_item_subtotal %></td>
      <td><%= link_to "Remove item from cart", order_item_path(order_item), method: "delete", data: { confirm: "Are you sure?" } %>
      </td>

    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
