<h1 class="page-header">Order Item Info</h1>


<h3>Order Item ID: <%= @order_item.id %></h3>
<p>quantity: <%= @order_item.quantity %></p>
<p>price: <%= @order_item.price %></p>
<p>is_shipped: <%= @order_item.is_shipped %></p>
<p>product_id: <%= @order_item.product_id %></p>

<%= link_to "Edit Order Item", edit_order_item_path, class: "button" %>
<%= link_to "New Order Item", new_order_item_path, class: "button" %>
<%= link_to "Back to Welcome Page", root_path, class: "button" %>
