<secton>
<h3><%= page_title %></h3>

<section>
  <%= form_for @product do |f| %>
  <%= f.label :product_name %>
  <%= f.text_field :name %>
  <%= f.label :unit_price %>
  <%= f.text_field :price_from_form %>
  <%= f.label :product_description %>
  <%= f.text_area :description %>
  <%= f.label :quantity_in_stock %>
  <%= f.number_field :stock %>
  <%= f.label :image %>
  <%= f.text_field :photo %>
  <%= f.label :categories %>
  <% Category.all.each do |category| %>
	<%= check_box_tag :category_ids, category.id, @product.categories.include?(category), :name => 'product[category_ids][]' %> <%= category.name %>
	<% end %>
  <br />
  <%= f.submit %>
  <% end %>
</section>
</section>
