<h3><%= page_title %></h3>

<section>
  <%= form_for @product do |f| %>
  <%= f.label :product_name %>
  <%= f.text_field :name %>
  <%= f.label :unit_price %>
  <%= f.text_field :price %>
  <%= f.label :product_description %>
  <%= f.text_area :description %>
  <%= f.label :quantity_in_stock %>
  <%= f.text_field :stock %>
  <%= f.label :image %>
  <%= f.text_field :photo %>
  <%= f.label :categories %>
  <% for category in Category.all %>
  <div>
    <%= check_box_tag "product[category_ids][]", category.id, @product.categories.include?(category) %>
    <%= category.name %>
  </div>
  <% end %>
  <%= f.submit %>
  <% end %>
</section>
