<% if params[:merchant_id]%>
<h2 class="prod-title"><%= Merchant.find(params[:merchant_id]).username  %>'s Mars Supply Shop</strong></h2>
<% else %>
<h2 class="prod-title"><strong>All Products</strong></h2>
<% end %></h5>

<ul class="prod-container">
  <% @products.each do |p| %>
  <li class="product">
    <%= link_to product_path(p.id) do %>
    <div class="product-summary">
      <%= image_tag(p.photo, :alt => "product image") %>
      <div><%= p.name %></div>
      <div><small><%= p.price %></small></div>
    </div>
    <%end%>
  </li>
  <%end%>
</ul>
