

  <section class="columns medium-10 small-12 all_products">
    <% if params[:merchant_id]%>
        <h5><%= Merchant.find(params[:merchant_id]).username  %>'s Mars Supplies</h5>
    <% elsif params[:search]%>
        <h5>Products / Search: <%= params[:search] %></h5>
    <% else %>
      <h5>Products / All</h5>
    <% end %></h5>


<ul class="prod-container">
  <% @products.each do |p| %>
  <li class="product">
    <%= link_to product_path(p.id) do %>
    <div class="product-summary">
      <%= image_tag(p.photo, :alt => "product image") %>
      <div><%= p.name %></div>
      <div><small><%= p.price.cents_to_dollars %></small></div>
    </div>
    <%end%>
  </li>
  <%end%>
</ul>
