<section class="product-main">
  <section class="product-image">
    <%= image_tag(@product.photo, :alt => "product image") %>
  </section>
  <section class="product-details">
    <h2><%= @product.name %></h2>
    <p>
      <%= @product.inventory_status %>
    </p>
    <p>
      $<%= @product.price %>
    </p>
    <p>
      <%= link_to @merchant.username, merchant_path(@merchant.id) %>
    </p>
    <div>
      <%= render partial: "add_to_cart_form" %>
    </div>
    <p>
      Description: <%= @product.description %>
    </p>
    <p>
      Categories:
      <% @product.categories.each do |category| %>
      <%= category.name %>
      <%end%>
    </p>
  </section>
</section>

<section class = "row rating-average container">
  <h4>Ratings Summary</h4>
  <p>
    <%= @product.get_average_rating%>
  </p>
</section>

<section class = "row rating container">

  <h4>Reviews</h4>

  <% if @product.reviews.empty? %>
  <p>
    Please be the first to review!
  </p>
  <%else %>
  <ul>
    <li>
    <% @product.reviews.each do |review| %>
      <% review.rating.times do%>
      <%= "🚀" %>
      <% end %>
    </li>
      <p>
        <%= review.comment %>
      </p>
    </section>
      <% end%>
  </ul>
    <% end%>

  <p><%=link_to "Review Now!", new_product_review_path(@product.id), class: 'button' %></p>

  
  <p>
    <%= link_to "Deactivate", deactivate_product_path(@product.id), class: 'button', method: :patch %>
  </p>
