<section>
  <section class="product-image">
    <%= image_tag(@product.photo, :alt => "product image") %>
  </section>
  <section class="product-details">
    <h2><%= @product.name %></h2>
    <p>
      <%= @product.inventory_status %>
    </p>
    <p>
      $<%= @product.price %>
    </p>
    <p>
      <%= @product.merchant.username %>
    </p>
    <p>
      Description: <%= @product.description %>
    </p>
    <p>
      Categories:
      <% @product.categories.each do |category| %>
      <%= category.name %>
      <%end%>
    </p>
  </section>
</section>
