<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <div class="row">
      <div class="columns">
        <ul class="menu vertical medium-horizontal" data-responsive-menu="drilldown medium-dropdown">
          <li class="mars"><%= link_to "Mars Depot", root_path, :class =>  "title"%></li>
          <% @curr_merchant = Merchant.find_by(id: session[:merchant_id]) %>
          <% if @curr_merchant %>
          <li class="astronaut" >
            <%= image_tag("icons/if_astronaut_44938.png", size: "60x60", alt: "User icon") %>

            <ul class="menu">
              <li>
                Signed in as<br /><strong><%= @curr_merchant.username %></strong>
              </li>
              <li>
                <a href="#">Seller Dashboard</a>
              </li>
              <li>
                <%= link_to "Logout", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
          <% else %>
          <li>
            <%= link_to "Login With GitHub", github_login_path, class: "button" %>

          </li>
          <% end %>
          <li>
            <%= image_tag("icons/if_shopping_cart red_10535.png", size: "60x60", alt: "Shopping Cart", class: "cart") %>
          </li>
        </ul>
      </div>
    </div>

  </header>

  <section class="alert-section">
    <% flash.each do |name, message| %>
    <section class="status <%= name %>">
      <% if message.respond_to?(:each) %>

      <h3>An error has occured.</h3>
      <ul>
        <% flash[:alert].each do |field, message| %>
        <li><%= field %>: <%= message.is_a?(String) ? message : message.pop %></li>
        <% end %>
      </ul>
      <% else %>
      <h3 class="success"><%= message %></h3>
      <% end %>
    </section>
    <% end %>
  </section>

  <%= yield %>
</body>
</html>




<!-- <% if session[:user_id] %>
<%= link_to "Logout", logout_path, method: :delete, class: "hollow button" %>
<% else %>
<%= link_to "Login", "/auth/github", class: "hollow button" %>
<% end %> -->
