<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= favicon_link_tag 'favicon.ico' %>
  <title><%= content_for?(:title) ? yield(:title) : "Mars Depot" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700" rel="stylesheet">

</head>

<body>
  <header>

    <!-- Navigation -->
    <div class="row expanded">
      <div class="column">
        <div class="large-article-header">
          <div class="large-article-header-content">
            <div class="center-container">
              <div class="article-title">
                <h1>MarsDepot</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div  data-sticky-containerdata >
      <div data-sticky data-options="marginTop:0;">

        <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle="example-menu"></button>
          <div class="title-bar-title">Menu</div>
        </div>

        <div class="top-bar" id="example-menu">
          <ul class="vertical medium-horizontal dropdown menu" data-responsive-menu="accordion medium-dropdown">
            <!-- <li class="menu-text">Site Title</li> -->
            <li>
              <a href="#">Categories</a>
              <ul class="menu vertical nested submenu">
                <% Category.all.each do |category| %>
                  <li><%= link_to category.name, category_path(category.id) %></li>
                <%end%>
              </ul>
            </li>
            <li>
              <a href="#">Merchants</a>
              <ul class="menu vertical nested submenu">
                <% Merchant.all.each do |merchant| %>
                  <li><%= link_to merchant.username, merchant_products_path(merchant.id) %>></li>
                <%end%>
              </ul>
            </li>
            <li>
              <a href="#">Something else?</a>
            </li>
          </ul>
        <!-- </div> -->
        <div class="top-bar-right">
          <ul class="menu">
            <li><a href="#">My Account</a></li>
            <li><a class="button">Login</a></li>
          </ul>
        </div>
      <!-- </div> -->

      </div>
    </div>


  </header>
  <main>


    <article class="grid-container">
      <div class="grid-x grid-margin-x">


    <div class="">
      <hr>
    </div>





  <%= yield %>
</div>

    </article>
</main>
</body>
</html>
