<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <nav>
        <% if @merchant %>
          <li>
            Welcome <%= @merchant.name %>
            <%= link_to "Logout", logout_path, method: :delete, class: "button" %>
          </li>
        <% else %>
          <%= link_to "Login With GitHub", github_login_path, class: "button" %>
        <% end %>
      </nav>
    </header>

    <%= yield %>

  </body>
</html>
